<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Crear Base de Datos</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <div class="selector_db">
            <div class="cuadr"></div>
            <h1 class="titulo_db">Crear Base de Datos</h1>
            <form class="selector" action="{{ url_for('crear_bbdd') }}" method="POST">
                <label>Nombre para la Base de Datos:</label>
                <input type="text" name="nombre_bd_crear" required>
                <button type="submit">Crear</button>
            </form>
        </div>
    </body>
</html>
