@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0b1721;
}
.form {
    width: 100%;
    height: 50px;
    max-width: 300px;
    position: relative;
    overflow-x: clip;
    overflow-y: visible;
}
.titulo {
    position: absolute;
    color: #fff;
    top: -50px;
    transform: translateX(50%);
    font-size: 25px;
}
.form input {
    width: 100%;
    height: 50px;
    background: none;
    color: #fff;
    padding-top: 20px;
    border: none;
    outline: 0;
}
.form #lbl-user {
    position: absolute;
    bottom: 0; 
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid #c7c7c7;
}
.form #lbl-contraseña {
    position: relative;
    bottom: 50px; 
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid #c7c7c7;
}
.form .lbl-palabra:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 100px;
    border-bottom: 3px solid #2ecece;
    transform: translateX(-100%);
    transition: all 0.3s ease;
}
.text-pal {
    position: absolute;
    bottom: 5px;
    left: 0;
    transition: all 0.3s ease;
    color: #fff;
}
.form input:focus + .lbl-palabra .text-pal, .form input:valid + .lbl-palabra .text-pal {
    transform: translateY(-150%);
    font-size: 14px;
    color: #2ecece;
}
.form input:focus + .lbl-palabra::after, .form input:valid + .lbl-palabra::after {
    transform: translateX(0%);
}
.form label {
    color: #fff;
    margin-bottom: 0;
    display: block;
}
.form .texto {
    margin-top: 20px;
}
#botón_login {
    width: 100%;
    height: 40px;
    background-color: #2ecece;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    padding: 10px;
    transform: translateY(-50%);
}
#botón_login:hover {
    background-color: #25b2b2;
}
.cuadrado {
    width: 350px;
    height: 300px;
    background: #132636;
    position: absolute;
    justify-content: center;
    transform: translate(0%, 15%);
    border-radius: 25px;
    align-items: center;
}