body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

h1 {
    color: #333;
}

form {
    margin: 20px 0;
}

input, button {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    transition: background-color 0.2s, border-color 0.2s; 
}

input:focus, button:hover {
    background-color: #e7e7e7; /* Color de fondo al hacer hover */
    border-color: #888; /* Color del borde al hacer focus o hover */
}

ul {
    list-style-type: none;
    padding: 0;
}

/* Estilos para la tabla */
table {
    border-collapse: collapse; /* Colapsar bordes de la tabla */
    margin-top: 20px;
    width: 80%; /* Ancho de la tabla */
    background-color: white; /* Fondo de la tabla */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra para la tabla */
    border-radius: 5px; /* Bordes redondeados */
}

th, td {
    padding: 12px; /* Espaciado interno de las celdas */
    text-align: left; /* Alinear texto a la izquierda */
    border-bottom: 1px solid #ccc; /* Línea divisoria entre filas */
}

th {
    background-color: #f4f4f9; /* Fondo del encabezado */
    color: #333; /* Color del texto del encabezado */
}

tr:hover {
    background-color: #f1f1f1; /* Color de fondo al pasar el mouse por las filas */
}

.primary-key {
    background-color: #ffff99; /* Fondo amarillo claro */
    color: #333; /* Texto oscuro para que contraste bien */
    font-weight: bold; /* Texto en negrita */
    text-decoration: underline; /* Subrayado */
}
