<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestor de Base de Datos</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="cuadrad"></div>
    <a href="{{ url_for('index') }}" class="titulo">Gestor de Base de Datos</a>

    <!-- Menú de Opciones -->
    <div id="menu">
        <button onclick="showSection('crear-tabla')">Crear Tabla</button>
        <button onclick="showSection('mostrar-tablas')">Mostrar Tablas</button>
        <button onclick="showSection('eliminar-tabla')">Eliminar Tabla</button>
        <button onclick="showSection('consultar-datos')">Consultar Datos</button>
        <button onclick="showSection('insertar-datos')">Insertar Datos</button>
        <button onclick="showSection('modificar-datos')">Modificar Datos</button>
        <button onclick="showSection('eliminar-datos')">Eliminar Datos</button>
        <button onclick="showSection('consola-sql')">Consola SQL</button>
        
        <!-- Botón Salir en un formulario alineado con Flexbox -->
        <form action="{{ url_for('logout') }}" method="POST" style="display: inline;">
            <button type="submit" class="btn btn-primary">Salir</button>
        </form>
    </div>

    <!-- Secciones de Formularios, ocultas por defecto -->
    <section id="crear-tabla" class="form-section" style="display:none;">
        <h2>Crear Tabla</h2>
        <form id="form-crear-tabla" action="/create_table" method="post">
            <label for="table-name">Nombre de la Tabla:</label>
            <input type="text" id="table-name" name="table_name" required>
            <br><br>
    
            <label>Columnas:</label>
            <table id="columnas_tabla">
                <thead>
                    <tr>
                        <th>Nombre columna</th>
                        <th>Tipo (TEXT/INTEGER)</th>
                        <th>NOT NULL</th>
                        <th>Primary Key</th>
                        <th>Acción</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Filas dinámicas aquí -->
                </tbody>
            </table>
            <br>
            <button type="button" id="boton_crear_columna">Añadir columna</button>            
            <br><br>
            <button type="submit" id="boton_crear_tabla">Crear tabla</button>
        </form>
    </section>
    



    <!-- Mostrar las tablas -->
    <section id="mostrar-tablas" class="form-section" style="display:none;">
        <h2>Tablas en la Base de Datos</h2>
        <table>
            <thead>
                <tr>
                    <th>Nombre de la Tabla</th>
                </tr>
            </thead>
            <tbody>
                {% if tablas %}
                    {% for tabla in tablas %}
                        <tr>
                            <td class="capitalize" style="text-transform: capitalize;">{{ tabla[0] }}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td>No hay tablas disponibles.</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </section>


    <!-- Eliminar tablas -->
    <section id="eliminar-tabla" class="form-section" style="display:none;">
        <h2>Eliminar Tabla</h2>

        <form>
            <label for="table_name">Selecciona la tabla que desea eliminar:</label>
            <select name="table_name" id="table_name_para_eliminar">
                <option value="" disabled selected>Seleccione una tabla</option> <!-- Opción en blanco -->
                {% if tablas %}
                    {% for tabla in tablas %}
                        <option class="capitalize" value="{{ tabla[0] }}">{{ tabla[0] }}</option>
                    {% endfor %}
                {% endif %}
            </select>
            <button type="submit" id="boton_eliminar_tabla">Eliminar Tabla</button>
        <form>
    </section>









    <!-- Consultar información -->
    <section id="consultar-datos" class="form-section" style="display:none;">
        <div style="transform: translateX(15%);">
        <h2>Consultar Información</h2>
        
        <label for="table_name">Selecciona la Tabla:</label>
        <select name="table_name" id="table_name_consultar">
            <option value="" disabled selected>Seleccione una tabla</option> <!-- Opción en blanco -->
            {% if tablas %}
                {% for tabla in tablas %}
                    <option class="capitalize" value="{{ tabla[0] }}">{{ tabla[0] }}</option>
                {% endfor %}
            {% endif %}
        </select>
    
        </br></br>

        <div id="resultados">
            <!-- Aquí se mostrará la tabla con la información -->
        </div>
    </section>


    <!-- Insertar información -->
    <section id="insertar-datos" class="form-section" style="display:none;">
        <h2>Insertar Información</h2>
        
        <label for="table_name">Selecciona la Tabla:</label>
        <select name="table_name" id="table_name_insertar">
            <option value="" disabled selected>Seleccione una tabla</option> <!-- Opción en blanco -->
            {% if tablas %}
                {% for tabla in tablas %}
                    <option class="capitalize" value="{{ tabla[0] }}">{{ tabla[0] }}</option>
                {% endfor %}
            {% endif %}
        </select>

        </br></br>
    
        <div id="insertar">
            <!-- Aquí se insertará la información -->
        </div>
    </section>


    <!-- Modificar información -->
    <section id="modificar-datos" class="form-section" style="display:none;">
        <h2>Modificar Información</h2>
        
    </section>


    <!-- Eliminar información -->
    <section id="eliminar-datos" class="form-section" style="display:none;">
        <h2>Eliminar Información</h2>
        
        <label for="table_name">Selecciona la Tabla:</label>
        <select name="table_name" id="table_name_eliminar">
            <option value="" disabled selected>Seleccione una tabla</option> <!-- Opción en blanco -->
            {% if tablas %}
                {% for tabla in tablas %}
                    <option class="capitalize" value="{{ tabla[0] }}">{{ tabla[0] }}</option>
                {% endfor %}
            {% endif %}
        </select>
    
        </br></br>

        <div id="eliminar">
            <!-- Aquí se insertará la información -->
        </div>
    </section>





    <!-- Consola SQLite -->
    <section id="consola-sql" class="form-section" style="display:none;">
        <h2>Consola SQLite</h2>
        
        <form> 
            <label for="mensaje">Escribe el comando:</label><br>
            <textarea id="comando" placeholder="Comando" rows="4" cols="50"></textarea>
            <br>
            <button type="button" id="boton_consola">Enviar Comando</button>
        </form>
    
        <!-- Botón de ayuda -->
        <button type="button" id="boton_ayuda">Ayuda</button>
    
        <!-- Modal para la chuleta -->
        <div id="modal-ayuda" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <h3>Comandos SQLite - Ayuda Rápida</h3>
                <ul>
                    <li><strong>Crear tabla: </br>&nbsp;&nbsp;&nbsp;CREATE TABLE</strong> &nbsp; [IF NOT EXISTS] &nbsp; <i>{nombre_tabla}</i> &nbsp; <strong>(</strong>
                        </br><i>&nbsp;&nbsp;&nbsp;{nombre_columna1}</i> &nbsp; <i>{tipo_columna1}</i><strong>,</strong>
                        </br><i>&nbsp;&nbsp;&nbsp;{nombre_columna2}</i> &nbsp; <i>{tipo_columna2}</i><strong>,</strong> 
                        </br>&nbsp;&nbsp;&nbsp;...<strong>);</strong></li>
                    </br>
                    <li><strong>Eliminar tabla: </br>&nbsp;&nbsp;&nbsp;DROP TABLE</strong> &nbsp; <i>{nombre_tabla}</i><strong>;</strong></li>
                    </br>
                    <li><strong>Seleccionar datos: </br>&nbsp;&nbsp;&nbsp;SELECT</strong> &nbsp; [ * ] &nbsp; <strong>/</strong> &nbsp; [{nombre_columna1}, {nombre_columna2}... ] &nbsp; <strong>FROM</strong> &nbsp; <i>{nombre_tabla}</i><strong>;</strong></li>
                    </br>
                    <li><strong>Insertar datos: </br>&nbsp;&nbsp;&nbsp;INSERT INTO</strong> &nbsp; <i>{nombre_tabla}</i> &nbsp; <strong>(</strong><i>{nombre_columna1}</i><strong>,</strong> &nbsp; <i>{nombre_columna2}</i><strong>)</strong>
                        </br><strong>&nbsp;&nbsp;&nbsp;VALUES</strong> &nbsp; <strong>(</strong><i>{nombre_valor1}</i><strong>,</strong> &nbsp; <i>{nombre_valor2}</i><strong>);</strong></li>
                    </br>
                    <li><strong>Actualizar datos:</strong> UPDATE nombre_tabla SET columna1 = valor1 WHERE condicion;`</li>
                    </br>
                    <li><strong>Eliminar datos: </br>&nbsp;&nbsp;&nbsp;DELETE FROM</strong> &nbsp; <i>{nombre_tabla}</i> &nbsp; <strong>WHERE</strong> &nbsp; <i>{condicion}</i> <strong>;</strong></li>
                    </br>
                    <li><strong>Comando especial:</strong> `.tables` para listar tablas.</li>
                    </br>
                    <li><strong>Tipos de dato:</strong></br>
                        <ol>
                            <li><strong>TEXT:</strong> Se utiliza para almacenar cadenas de texto de longitud variable, como nombres o descripciones. Es el tipo de dato más utilizado para información alfanumérica.</li>
                            </br>
                            <li><strong>INTEGER:</strong> Se utiliza para almacenar números enteros, tanto positivos como negativos. Ideal para identificadores, contadores o cualquier valor numérico sin decimales.</li>
                            </br>
                            <li><strong>REAL:</strong> Se utiliza para almacenar números con decimales (de punto flotante). Útil para valores como precios o mediciones precisas.</li>
                        </ol>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    

    <!--
    CREATE TABLE alumnos (
        id_alumno INTEGER PRIMARY KEY AUTOINCREMENT,
        nombre TEXT NOT NULL,
        apellidos TEXT NOT NULL,
        fecha_nac TEXT NOT NULL
    );

    CREATE TABLE profesores (
        id_profesor INTEGER PRIMARY KEY AUTOINCREMENT,
        nombre TEXT NOT NULL,
        apellidos TEXT NOT NULL
    );
    -->

    <section id="logout" class="form-section" style="display: none;">
        <form action="{{ url_for('logout') }}" method="POST" style="display: inline;">
            <button type="submit" class="btn btn-primary">Salir</button>
        </form>
    </section>

    <script src="/static/script.js"></script>
</body>
</html>
