<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
        <link rel="stylesheet" href="/static/auth.css">
    </head>
    <body>
        <div class="cuadrado"></div>
        <form id="form" class="form">
            <span class="titulo">Iniciar Sesión</span>
            <input type="text" 
                id="user" 
                required>
            <label id="lbl-user" class="lbl-palabra">
                <span class="text-pal">
                    Usuario
                </span>
            </label>
            </br></br>
            <input type="password" 
                id="contraseña"
                required>
            <label id="lbl-contraseña" class="lbl-palabra">
                <span class="text-pal">
                    Contraseña
                </span>
            </label>
            <input type="submit" class="botón" value="Iniciar Sesión">
        </form>
        <script src="script.js" type="text/javascript"></script>
    </body>
</html>