<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Iniciar Sesión</title>
        <link rel="stylesheet" href="/static/auth.css">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    </head>
    <body>
        <div class="cuadrado"></div>
        <form id="form" class="form" action="{{ url_for('index') }}" method="POST">
            <span class="titulo">Iniciar Sesión</span>
            <input type="text" 
                id="user"
                name="user"
                required>
            <label id="lbl-user" class="lbl-palabra">
                <span class="text-pal">
                    Usuario
                </span>
            </label>
            </br></br>
            <input type="password" 
                id="password"
                name="password"
                required>
            <label id="lbl-contraseña" class="lbl-palabra">
                <span class="text-pal">
                    Contraseña
                </span>
            </label>
            <button type="submit" id="boton_login">Iniciar Sesión</button>
        </form>
        
        <div class="mensaje_error">
            {% if error %}
                <p style="color: red;">{{ error }}</p>
            {% endif %}
        </div>

        <script src="script.js" type="text/javascript"></script>
    </body>
</html>